// simple component
.icon-plus,
.icon-minus{
  display:inline-block;
  position:relative;
  padding-left:16px;

  &:after{
    content:"";
    display:block;
    width:13px;
    height:13px;
    position:absolute;
    top:1px;
    left:0;
    background:url(../images/common/spr_icon_plusminus.png) no-repeat;
    background-size:cover;
  }
}

.icon-minus:after{
  background-position:-13px 0;
}

.section-title{
  position:relative;
  padding:12px 0 12px 15px;
  font-size:14px;
  font-weight:bold;
  border-bottom:1px solid #e2e2e2;

  &.icon-alarm{
    padding-left:35px;

    &:after{
      content:"";
      display:block;
      width:15px;
      height:15px;
      position:absolute;
      top:12px;
      left:15px;
      background:url(../images/common/icon_alarm.png) no-repeat;
      background-size:cover;
    }

  }
}

.article-title{
  font-size:14px;
  font-weight:bold;
  color:#333;

  &.division{
    padding-bottom:5px;
  }
}

.no-contents{
  padding:30px 0;
  text-align:center;
}

.description{
  font-size:11px;
  color:#767676;

  &.bullet {
    position: relative;
    padding: 0 0 0 8px;
    font-size: 11px;
    color: #767676;
    line-height: 1.6;

    &:after {
      content: "*";
      display: block;
      position: absolute;
      top: 2px;
      left: 0;
    }
  }

  &.section-division{
    border-top:1px solid #e2e2e2;
    padding:5px 15px 10px;
  }
}

// tab
.tab-block{

  &:after{
    content:"";
    display:block;
    clear:both;
  }
  &-list{
    width:33.33%;
    float:left;
    text-align:center;
    border:{
      right:1px solid #e2e2e2;
    }
    box-sizing:border-box;

    &.last{
      border:{
        right:0;
      }
    }
  }

  &-link{
    display:block;
    height:39px;
    padding-top:13px;
    border:{
      bottom:1px solid #e2e2e2;
    }

    box-sizing:border-box;

    &.on{
      color:$main-red;
      border:{
        bottom:1px solid #fff;
      }

      >span:after{
        content:"";
        display:block;
        width:calc(100% + 10px);
        height:2px;
        position:absolute;
        left:-5px;
        bottom:-1px;
        background:$main-red;
      }
    }

    >span{
      display:inline-block;
      height:100%;
      position:relative;
    }

  }
}

// list
.def-list{

  padding:{
    top:11px;
    bottom:8px;
  }
  border-bottom:1px solid #f0f0f0;

  &:after{
    content:"";
    display:block;
    clear:both;
  }

  &.total{
    padding:{
      top:0;
      bottom:9px;
    }
    font-size:14px;
    font-weight:bold;
    color: $dark-gray;
    border-bottom:1px solid #e2e2e2;

    >.def-list-desc{
      font-size:16px;
    }
  }

  &.last{
    padding-bottom:0;
    border-bottom:0;
  }

  &-title{
    float:left;
  }

  &-desc{
    float:right;
    font-size:13px;
  }

}

.def-list-usage{
  width:100%;
  height:49px;
  position:relative;
  border-bottom:1px solid #f0f0f0;

  &:last-child{
    border-bottom:0;
  }

  &-item{
    position:absolute;

    &.title{
      top:10px;
      left:0;
      color:#333;
    }
    &.point{
      top:10px;
      right:0;
      font-size:13px;
      color:$dark-gray;
    }
    &.date{
      bottom:10px;
      left:0;
      font-size:11px;
    }
    &.usage{
      right:0;
      bottom:10px;
      font-size:11px;
    }
  }

}

.ordinary-list{
  &-item{
    position:relative;
    padding:0 0 0 8px;
    font-size:11px;
    color:#767676;
    line-height:1.6;

    &:after{
      content:"*";
      display:block;
      position:absolute;
      top:2px;
      left:0;
    }
  }
}

.half-image-list{
  border-top:1px solid #e2e2e2;

  &:after{
    content:"";
    display:block;
    clear:both;
  }

  &-item{
    width:50%;
    position:relative;
    float:left;
    border-bottom:1px solid #e2e2e2;
    &:nth-child(2n+1):after{
      content:"";
      display:block;
      width:1px;
      height:100%;
      position:absolute;
      top:0;
      right:0;
      background:#e2e2e2;
    }
  }

  &-image{
    width:100%;
    max-width:292px;
  }

}

// table
.vt-table{
  width:100%;

  &-wrap{
    border:{
      top:1px solid #e2e2e2;
      bottom:1px solid #e2e2e2;
    }
  }

  &.inner-wrap{
    thead{
      th{
        border-top:0
      }
    }

    tbody{
      tr:last-child{
        td{
          border-bottom: 0;
        }
      }
    }
  }

  thead{
    th{
      height:35px;
      font-weight:bold;
      text-align:center;
      border:{
        top:1px solid #e2e2e2;
        bottom:1px solid #e2e2e2;
      }
      background:#f9f9f9;
    }
  }

  tbody{
    td{
      min-height:38px;
      padding:10px 0;
      color:$dark-gray;
      text-align:center;

      border:{
        top:1px solid #e2e2e2;
        bottom:1px solid #e2e2e2;
      }

      &.left{
        padding-left:10px;
        text-align:left;
      }

      &.right{
        padding-right:10px;
        text-align:right;
      }

      &.date{
        font-size:11px;
      }

      &.point{
        font-size:13px;
      }

    }
  }
}

.hr-table{
  width:100%;

  &-wrap{
    border:{
      top:1px solid #e2e2e2;
      bottom:1px solid #e2e2e2;
    }
  }

  &.inner-wrap{
    thead{
      th{
        border-top:0
      }
    }

    tbody{
      tr:last-child{
        td{
          border-bottom: 0;
        }
      }
    }
  }

  tbody{
    th{
      height:35px;
      font-weight:bold;
      text-align:center;
      border:{
        top:1px solid #e2e2e2;
        bottom:1px solid #e2e2e2;
      }
      background:#f9f9f9;

      &.left{
        padding-left:10px;
        text-align:left;
      }
    }

    td{
      min-height:38px;
      padding:10px 0;
      color:$dark-gray;
      text-align:center;

      border:{
        top:1px solid #e2e2e2;
        bottom:1px solid #e2e2e2;
      }

      &.left{
        padding-left:10px;
        text-align:left;
      }

      &.right{
        padding-right:10px;
        text-align:right;
      }

    }
  }

}