.label{
  &-select{
    position:absolute;
    top:22px;
    left:0;
    line-height:1;
  }
}
.select {
  height:31px;
  padding:0 25px 0 10px;

  line-height:25px;

  border:1px solid  #ccc;
  border-radius:3px;
  background: #fff url(../images/common/arrow_selectbox.png) no-repeat right center;
  background-size:25px 25px;

  box-sizing:border-box;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &.single-label{
    width: calc(100% - 53px);
    height: 30px;
    margin: 0 0 0 53px;
  }

  &.half{
    width:50%;
    &:nth-child(2){
      width:calc(50% - 5px);
    }
  }
}

input[type=text].input,
input[type=password].input{
  height: 31px;
  padding: 0 5px 0 5px;

  font-size:13px;
  color: #666;
  line-height: 25px;

  border: solid 1px #b5b5b5;
  border-radius: 3px;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &.single-label{
    width: calc(100% - 53px);
    height: 30px;
    margin: 0 0 0 53px;
  }

  &.search-board-input{
    width:calc(100% - 160px);
    float:left;
    border:2px solid #777;
    border-left:0;
    border-radius:0 3px 3px 0;
  }
}

.btn{
  display:inline-block;
  height:25px;
  border-radius:3px;
  box-sizing:border-box;
  line-height:normal;

  &.link{
    display:block;
    padding-top:2px !important;
  }

  &.ellipse{
    border-radius:5em !important;
  }

  &.red{
    padding:0 11px;
    color:$white;
    background:$main-red;
  }

  &.search-select{
    &-red{
      display: block;
      width: 45px;
      height: 30px;
      position: absolute;
      top: 15px;
      right: 0;
      color: #fff;
      line-height: 25px;
      border-radius: 3px;
      background: #ed2a25;
      box-sizing: border-box;
    }
    &-dark{
      display: block;
      width: 45px;
      height: 30px;
      position: absolute;
      top: 15px;
      right: 0;
      color: #fff;
      line-height: 25px;
      border-radius: 3px;
      background: #404040;
      box-sizing: border-box;
    }
  }

  &.dark-mid{
    height:31px;
    padding:0 15px;
    font-size:13px;
    color:$white;
    background:#404040;
    border-radius:0;

    &.icon-search{

      position:relative;
      border-radius:3px;
      padding:0 28px 0 10px;

      &:after{
        content:"";
        display:block;
        width:12px;
        height:12px;
        position:absolute;
        top:9px;
        right:10px;
        background:url(../images/common/icon_search.png) no-repeat;
        background-size:cover;
      }
    }

    &.whole{
      width:100%;
    }

    &.half{
      width:calc(50% - 3px);
      height:25px;
      font-size:11px;
      color:$white;
      text-align:center;
      background:#404040;
      border-radius:0;
    }
  }

  &.gray-small{
    height:24px;
    padding:0 15px;
    font-size:13px;
    color:$white;
    background:#888;
    border-radius:0;
  }

  &.gray-mid{
    height:31px;
    padding:0 25px;
    font-size:13px;
    color:$white;
    background:#888;
    border-radius:0;
  }

  &.white-small{
    height:24px;
    padding:0 15px;
    font-size:13px;
    border:1px solid #888;
    border-radius:0;
    background:#fff;

    &.border-gray{
      color:#888;
      border-color:#cacaca;
    }
  }

  &.white-mid{
    height:31px;
    padding:0 25px;
    font-size:13px;
    border:1px solid #888;
    background:#fff;
    border-radius:0;

    &.border-gray{
      color:#888;
      border-color:#cacaca;
    }
  }

  &.onoff-toggle{
    width:64px;
    height:20px;
    text-indent:-99999em;
    background:url(../images/brp_my/spr_btn_toggle.png) no-repeat;
    background-size:cover;

    &.off{
      background-position:0 -20px;
    }
  }

  &.section-right-top{
    position:absolute;
    right:10px;
    top:10px;
  }

  &.article-right-top{
    position:absolute;
    right:0;
    top:-2px;
  }
}

.btn-view-more{
  &-wrap{
    padding-bottom:15px;
    text-align:center;
  }

  display:inline-block;
  width:100%;
  height:16px;
  padding-right:20px;
  margin-top:15px;
  font-size:13px;
  color:#555;
  line-height:1;

  &:after{
    content:"";
    display:block;
    width:16px;
    height:16px;
    position:absolute;
    top:0;
    left:50%;
    margin-left:15px;
    background:url(../images/common/search_more.png) no-repeat 0 0;
    background-size:cover;
  }

}