.select {
  height:25px;
  padding:0 25px 0 10px;

  line-height:25px;

  border:1px solid  #ccc;
  border-radius:3px;
  background: #fff url(../images/common/arrow_selectbox.png) no-repeat right center;
  background-size:25px 25px;

  box-sizing:border-box;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &.half{
    width:50%;
    &:nth-child(2){
      width:calc(50% - 5px);
    }
  }
}

.input{
  height: 25px;
  padding: 0 5px 0 5px;

  font-size:13px;
  color: #666;
  line-height: 25px;

  border: solid 1px #b5b5b5;
  border-radius: 3px;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn{
  display:inline-block;
  height:25px;
  border-radius:3px;
  box-sizing:border-box;
  line-height:normal;

  &.link{
    display:block;
    padding-top:2px !important;
  }

  &.ellipse{
    border-radius:5em !important;
  }

  &.red{
    padding:0 11px;
    color:$white;
    background:$main-red;
  }

  &.gray-small{
    height:19px;
    padding:0 15px;
    font-size:10px;
    color:$white;
    background:#888;
    border-radius:0;
  }

  &.gray-mid{
    height:25px;
    padding:0 15px;
    font-size:11px;
    color:$white;
    background:#888;
    border-radius:0;
  }

  &.white-small{
    height:19px;
    padding:0 15px;
    font-size:10px;
    border:1px solid #888;
    border-radius:0;
    background:#fff;

    &.border-gray{
      color:#888;
      border-color:#cacaca;
    }
  }

  &.dark-mid-half{
    width:calc(50% - 3px);
    height:25px;
    font-size:11px;
    color:$white;
    text-align:center;
    background:#404040;
    border-radius:0;
  }

  &.section-right-top{
    position:absolute;
    top:11px;
    right:15px;
  }

  &.onoff-toggle{
    width:64px;
    height:20px;
    text-indent:-99999em;
    background:url(../images/brp_my/spr_btn_toggle.png) no-repeat;
    background-size:cover;

    &.off{
      background-position:0 -20px;
    }
  }
}

.search-more{
  &-button{
    display:inline-block;
    padding-right:20px;

    &:after{
      content:"";
      display:block;
      width:16px;
      height:16px;
      position:absolute;
      top:-1px;
      right:0;
      background:url(../images/common/search_more.png) no-repeat 0 0;
      background-size:cover;
    }
  }
}