// align

.mt5{
  margin-top:5px;
}

.mt7{
  margin-top:7px;
}

.mt10{
  margin-top:10px;
}

.mt15{
  margin-top:15px;
}

.mt20{
  margin-top:20px;
}

.mt25{
  margin-top:25px;
}

.mt28{
  margin-top:28px;
}

.mt30{
  margin-top:30px;
}

.mt55{
  margin-top:55px;
}

.mb10{
  margin-bottom:10px;
}

.ml5{
  margin-left:5px;
}

.ml10{
  margin-left:10px;
}

.pt7{
  padding-top:7px;
}

.pt15{
  padding-top:15px;
}

.pt20{
  padding-top:20px;
}

.pt27{
  padding-top:27px;
}

.pr100{
  padding-right:100px !important;
}

.pb15{
  padding-bottom:15px !important;
}

.pb25{
  padding-bottom:25px !important;
}

.fl{
  float:left;
}

.fr{
  float:right;
}

.align-center{
  text-align:center;
}

.vt-mid{
  vertical-align:middle;
}