// align

.mt5{
  margin-top:5px;
}

.mt7{
  margin-top:7px;
}

.mt10{
  margin-top:10px;
}

.mt15{
  margin-top:15px;
}

.mt20{
  margin-top:20px;
}

.mt25{
  margin-top:25px;
}

.mt28{
  margin-top:28px;
}

.mt30{
  margin-top:30px;
}

.mt55{
  margin-top:55px;
}

.mb7{
  margin-bottom:7px;
}

.mb10{
  margin-bottom:10px;
}

.ml2{
  margin-left:2px;
}

.ml5{
  margin-left:5px;
}

.ml6{
  margin-left:6px;
}

.ml10{
  margin-left:10px;
}

.ml20{
  margin-left:20px;
}

.pt7{
  padding-top:7px;
}

.pt10{
  padding-top:10px !important;
}

.pt15{
  padding-top:15px !important;
}

.pt20{
  padding-top:20px;
}

.pt23{
  padding-top:23px;
}

.pt25{
  padding-top:25px;
}

.pt27{
  padding-top:27px;
}

.pr100{
  padding-right:100px !important;
}

.pr90{
  padding-right:90px !important;
}

.pr80{
  padding-right:90px !important;
}

.pb5{
  padding-bottom:5px !important;
}

.pb15{
  padding-bottom:15px !important;
}

.pb25{
  padding-bottom:25px !important;
}

.pb30{
  padding-bottom:30px !important;
}

.pl10{
  padding-left:10px !important;
}

.fl{
  float:left;
}

.fr{
  float:right;
}

.align-center{
  text-align:center;
}

.vt-mid{
  vertical-align:middle;
}