.inner-wrap {
	@include size(1080, auto);
	@include center();

	&.fix-position{
		position:relative;
	}
}

/* header layout */
.logo {
	@include size(auto, 68);
	padding:22px 0 0 0;
	text-align:center;

	&-image{
		display:inline-block;
	}
}
.gnb {

	@include size(auto, 48);
	position:relative;
	padding:21px 0 0 0;
	background:$black;
	@include clear();

	&-menu{
		float:left;

		&-item{
			@include size(180, 22);
			position:relative;
			padding:3px 0 3px 0;
			text-align:center;

			&:after{
				content:"";
				display:block;
				@include size(1, 28);

				position:absolute;
				top:0;
				right:0;

				background:#2d2d2d;
			}

			&.last{
				&:after{
					display:none;
				}
			}

			>.menu-link{
				@include font($font-stack, 16px, $white);

				&:hover{
					color:#ffb7e1;
				}
			}

		}

	}

	&-sub{
		display:none;
		@include size(100%, auto);

		position:absolute;
		top:57px;
		left:0;

		background:url(../images/bg_sub1.png);

		z-index:60;

		&.sub-tall{
			background:url(../images/bg_sub2.png);
		}

		&.on{
			display:block;
		}

		&-list{
			@include size(765, 95);
			@include center();

			padding:82px 0 0 315px;

			@include clear();

			.sub{

				&-menu {
					position: relative;
					float: left;
					padding: 0 33px;

					&.first {
						padding: 0 33px 0 0;

						&:after {
							display: none;
						}
					}

					&:after {
						content: "";
						display: block;

						@include size(1, 100%);

						position: absolute;
						top: 0;
						left: 0;

						background: #c1b9cb;
					}

					> .menu-link {
						@include font($font-stack, 18px, white);

						&:hover {
							color: #f3aed7;
						}
					}
				}

				&-under{
					padding:37px 0 0 0;

					&-menu{
						padding:0 0 18px 0;

						&.last{
							padding:0;
						}

						>.menu-link{
							@include font($font-stack, 13px, $white);

							&:hover{
								color: #f3aed7;
							}
						}
					}
				}


			}
		}

		.sub1{
			background:url(../images/bg_sub_menu_1.png);
		}

		.sub2{
			background:url(../images/bg_sub_menu_2.png);
		}

		.sub3{
			@include size(765, 227);
			@include center();

			background:url(../images/bg_sub_menu_3.png);

			>.sub-menu{
				height:180px;
			}
		}

		.sub4{
			background:url(../images/bg_sub_menu_4.png);
		}

		.sub5{
			background:url(../images/bg_sub_menu_5.png);
		}

		.sub6{
			background:url(../images/bg_sub_menu_6.png);
		}

	}

}

/* main visual layout */
.visual{
	background:#d9cfe6;

	&-area{
		position:relative;

		.slidesjs{

			&-navigation{
				display:block;
				@include size(27, 75);

				position:absolute;
				top:50%;
				left:0;

				margin:-38px 0 0 0;

				text-indent:-99999em;
				z-index:50;

				background:url(../images/main_visual_arrow.png) no-repeat 0 0;

			}

			&-next{
				left:auto;
				right:0;
				background-position:-45px 0;
			}
		}
	}


}

/* main cover contents layout */
.cover-contents{
	padding:30px 0 60px 0;

	@include clear();

	.event{
		@include size(590, 320);
		float:left;
		padding:0 30px 0 0;
	}

	.story{
		@include size(460, 320);
		float:left;

		&-case{
			@include size(460, 160);
			position:relative;

			&-image{

				&-item{
					display:none;

					&.on{
						display:block;
					}
				}
			}

			&-link{
				position:absolute;
				top:0;
				right:0;

				&-item{
					display:block;
					@include size(146, 80);
					text-indent:-99999em;
					background:url(../images/spr_story_link.png) no-repeat -146px 0;

					&.on{
						background-position:0 0;
					}

					&.bottom{
						background-position:-146px -80px;

						&.on{
							background-position:0 -80px;
						}
					}
				}
			}
		}

		&-sns{
			@include clear();

			&-link{
				display:block;
				float:left;
			}
		}


	}

	.pr{
		@include size(1080, 247);
		float:left;
		padding:30px 0 0 0;

		&-list{
			@include clear();

			&-item{
				display:block;
				@include size(360, 138);
				float:left;
			}
		}

		&-prg{
			position:relative;
			@include clear();

			&-title{
				position:absolute;
				top:0;
				left:0;
			}
			&-list{
				@include size(859, 108);
				float:right;
				border:{
					right:1px solid #c4c4c4;
					bottom:1px solid #c4c4c4;
				}
			}
			&-item{
				position:absolute;
				top:50%;
				left:0;
				padding:0 74px 0 0;

				&:after{
					content:"";
					display:block;

					@include size(1, 27);

					position:absolute;
					top:8px;
					right:0;

					background:#c4c4c4;
				}

				&.i1{
					margin:-22px 0 0 0;
					left:290px;
				}

				&.i2{
					margin:-23px 0 0 0;
					left:580px;
				}

				&.i3{
					margin:-24px 0 0 0;
					left:860px;
					&:after{
						display:none;
					}
				}
			}
		}
	}
}

/* main bottom contents layout */
.bottom-contents{
	background:#f7f3f4;

	&-area{
		position:relative;

		.slidesjs{

			&-navigation{
				display:block;
				@include size(13, 31);

				position:absolute;
				top:50%;
				left:0;

				margin:-16px 0 0 0;

				text-indent:-99999em;
				z-index:50;

				background:url(../images/bottom_contents_arrow.png) no-repeat 0 0;

			}

			&-next{
				left:auto;
				right:0;
				background-position:-26px 0;
			}
		}
	}
}

/* sub contents layout */
.contents {

	&-top{
		@include size(1080, 225);
		position:relative;
		padding:55px 0 0 0;
		@include center();
		box-sizing:border-box;

		.qrcode{
			position:absolute;
			top:0;
			right:0;
		}
	}

	&-title {
		@include font($font-stack, 48px, $black);
		font-weight: bold;
		text-align: center;

		.strong{
			color:#902e8d;
		}
	}

	&-description {
		@include font($font-stack, 15px, #7d7d7d);
		margin:20px 0 0 0;
		text-align: center;
	}

	&-sub-tab{
		margin:20px 0 0 0;
		text-align:center;

		.tab-item{
			display:inline-block;
			position:relative;
			padding:0 20px 0 0;
			margin:0 20px 0 0;

			&.last{
				padding:0;
				margin:0;

				&:after{
					display:none;
				}
			}

			&:after{
				content:"";
				display:block;

				@include size(1, 12);

				position:absolute;
				top:3px;
				right:0;

				background:#d7d7d7;
			}
		}
		.tab-link{
			font-weight:bold;
			color:#7d7d7d;

			&:hover, &.on{
				color:#902e8d;
			}
		}

	}

	&-location{
		position:absolute;
		bottom:10px;
		right:10px;

		.home{
			@include size(9, 17);
			float:left;
			text-indent:-99999em;
			background:url(../images/bg_location_home.png) no-repeat 0 3px;
		}

		.branch{
			position:relative;
			float:left;
			padding:0 0 0 19px;
			color:#902e8d;

			&:after{
				content:"";
				display:block;
				@include size(19, 17);

				position:Absolute;
				top:0;
				left:0;

				background:url(../images/bg_location_arrow.png) no-repeat 0 4px;
			}
		}
	}

	&-body{
		position:relative;
		padding:0 0 100px 0;

		&.no-padding{
			padding:0;
		}

		.prg-tab{
			@include clear();

			&-item{
				float:left;
				margin:0 2px 0 0;

				&.last{
					margin:0;
				}
			}

			&-link{
				display:block;
				@include size(268, 386);
				text-indent:-99999em;
				background:url(../images/program/program_intro_tab.jpg) no-repeat 0 0;

				&.link1{
					background-position:0 0;

					&:hover, &.on{
						background-position:0 -390px;
					}
				}

				&.link2{
					background-position:-271px 0;

					&:hover, &.on{
						background-position:-271px -390px;
					}
				}

				&.link3{
					background-position:-542px 0;

					&:hover, &.on{
						background-position:-542px -390px;
					}
				}

				&.link4{
					background-position:-812px 0;

					&:hover, &.on{
						background-position:-812px -390px;
					}
				}
			}

		}

		.prg-intro{
			display:none;

			&.on{
				display:block;
			}
		}

		.view{
			@include clear();

			&-big{
				float:left;

				&-item{
					display:none;
					position:relative;

					&.on{
						display:block;
					}
				}

				&-name{
					@include size(100%, 42);
					position:absolute;
					bottom:0;
					left:0;
					@include font($font-stack, 22px, #fff);
					text-align:center;
					line-height:42px;
					background:url(../images/franchise/bg_view_bar.png);
				}
			}

			&-thumb{
				@include size(489, auto);
				margin:0 0 0 -7px;
				float:right;

				&-item{
					float:left;
					padding:0 0 0 7px;
					margin:0 0 3px 0;
					cursor:pointer;
				}

				&-name{
					margin:3px 0 0 0;
					@include font($font-stack, 15px, #2d2d2d);
					text-align:center;
				}
			}
		}

		.video{
			margin:0 0 110px 0;
			@include clear();

			&-list{
				float:left;
				margin:0 20px 0 0;

				&.last{
					margin:0;
				}
			}
		}

		.brand-news-link{
			display:inline-block;
		}

	}

}

/* search tab style */
.search-tab{
	@include size(auto, 43);
	border-bottom:1px solid #9d8dbd;
	@include clear();

	&-item{
		@include size(auto, 42);
		position:relative;
		float:left;
		padding:1px 41px 0 40px;
		text-align:center;
		line-height:44px;

		&.first{
			padding:1px 41px 0;

			&.on {
				left:0;
				padding:0 40px;
				border: 1px solid #9d8dbd;
				border-bottom: 1px solid $white;

				&:after{
					display:none;
				}
			}

			&.on-prev{
				padding:1px 40px 0 41px;
			}
		}

		&.on{
			padding:0 40px;
			border:{
				top:1px solid #9d8dbd;
				right:1px solid #9d8dbd;
				bottom: 1px solid $white;
			}
			background:$white;

			&:after{
				display:none;
			}
		}

		&.on-prev{
			padding:1px 40px 1px 40px;
			border-right:1px solid #9d8dbd;

			&:after{
				display:none;
			}
		}

		&:after{
			content:"";
			display:block;

			@include size(1, 15);
			position:absolute;
			top:50%;
			right:0;
			margin:-8px 0 0 0;

			background:#ddd;

		}

		&.last{
			padding:0 41px;
		}
	}

	&-link{
		@include font($font-stack, 20px, #7d7d7d);
		&.on, &:hover{
			color:#f087af;
		}
	}
}

/* pagination style */
.pagination{
	text-align:center;
	&-inner{
		display:inline-block;
		@include clear();
	}

	.page-item{
		display:block;
		float:left;

		&.arrow{
			@include size(15, 14);
			text-indent:-99999em;
			border:0;
			background:url(../images/bg_pagenation_arrow.png) no-repeat;

			&.first{
				margin:0 7px 0 0;
				background-position:0 0;
			}
			&.prev{
				background-position:-23px 0;
			}
			&.next{
				background-position:-46px 0;
			}
			&.last{
				margin:0 0 0 7px;
				background-position:-68px 0;
			}
		}

		&.number{
			padding:0 9px;
			color:#7d7d7d;

			&:hover{
				color:#f087af;
			}
		}
	}
}

/* quick menu */
#quick-menu-a{position:absolute; top:225px; left:50%; margin-left:610px; width:127px; height:auto; z-index:111;}
#quick-menu-a li{width:127px; height:auto; line-height:0; text-align:center;}
#quick-menu-a li.qt{margin-bottom:5px;}

/* footer layout */
.footer{
		@include size(auto, 84);
		position:relative;
		padding:42px 0 0 0;
		background:$black;

		&-alliance{
			display:block;
			@include size(85, 25);

			position:absolute;
			top:52px;
			left:50%;

			margin:0 0 0 308px;

			line-height:25px;
			text-align:center;
			color:#d4d4d4;
			border:1px solid #636363;
			background:#7a3349;
		}

		&-family{
			position:absolute;
			top:52px;
			left:50%;

			margin:0 0 0 400px;

			&-title{
				display:block;
				@include size(127, 25);
				padding:0 0 0 13px;

				line-height:25px;
				text-align:left;
				color:#878787;
				border:1px solid #636363;
				background:#1c1c1c url(../images/footer_family_arrow.png) no-repeat 120px center;

				cursor:pointer;
			}

			&-list{
				display:none;
				position:absolute;
				top:-78px;
				left:0;

				border:1px solid #636363;
				border-bottom:0;

				&.on{
					display:block;
				}

			}

			&-item{
				@include size(127, 25);
				padding:0 0 0 13px;

				line-height:25px;
				border-bottom:1px solid #636363;
				background:#1c1c1c;

				&.last{
					border:0;
				}

				&:hover{
					background:#333;
				}

				>.family-link{
					color:#878787;
				}
			}
		}
	}

/* contents each style */
.success-list{
	padding:71px 0 103px 0;
	margin:0 0 0 -22px;
	@include clear();

	&-item{
		@include size(346, 200);
		float:left;
		padding:0 0 22px 21px;
	}

}

/* contents each style */
.case-list{width:1080px; padding:40px 0 60px;}
.case-list li{width:1080px; height:130px; padding:30px 0;}
.case-list li dl{float:left; width:539px; border-right:1px solid #cbcbcb;}
.case-list li dl.noline{width:500px; padding-left:40px; border-right:0 solid #cbcbcb;}
.case-list li dl dt{float:left; width:294px; height:130px; padding-right:20px; color:#fff; font-size:13px; font-weight:700;}
.case-list li dl dt .lbox{float:left; width:132px; height:130px; background:#888; overflow:hidden; text-align:center;}
.case-list li dl dt .arrow{float:left; width:30px; padding-top:55px; text-align:center;}
.case-list li dl dt .arrow img{display:inline-block;}
.case-list li dl dt .rbox{float:left; width:132px; height:130px; background:#f087af; overflow:hidden; text-align:center;}
.case-list li dl dt img.cp{width:132px; height:100px;}
.case-list li dl dt span{width:132px; height:30px; line-height:30px;}
.case-list li dl dd{float:left; width:auto; color:#555; font-size:14px; line-height:1.8;}

.view{

	&-title{
		@include size(auto, 50);
		@include font($font-stack, 18px, $white);
		padding:0 0 0 20px;
		line-height:50px;
		background:#9d8dbd;
		box-sizing:border-box;
	}

	&-detail{
		@include size(auto, 40);
		@include font($font-stack, 15px, #7d7d7d);

		//padding:0 20px;
		line-height:40px;

		border-bottom:1px solid #ddd;

		&-left{
			float:left;
		}

		&-right{
			float:right;
		}

		&-item{
			position:relative;
			float:left;
			padding:0 20px;

			&.last{
				&:after{
					display:none;
				}
			}

			&:after{
				content:"";
				display:block;
				@include size(1, 15);

				position:absolute;
				top:12px;
				right:0;

				background:#ddd;
			}
		}
	}

	&-content{
		min-height:370px;
		padding:20px;
		@include font($font-stack, 15px, #7d7d7d);
		line-height:1.5;
		box-sizing:border-box;

		&-reply{
			min-height:80px;
			padding:20px;
			margin:0 0 45px 0;
			@include font($font-stack, 15px, #2d2d2d);
			line-height:1.5;
			background:#efefef;
		}
	}



	&-others{
		&-item{
			display:block;
			@include size(auto, 45px);
			position:relative;
			padding:0 0 0 45px;
			@include font($font-stack, 15px, #7d7d7d);
			line-height:45px;
			border-bottom:1px solid #ddd;

			&:hover{
				color:#9d8dbd;
				text-decoration:underline;
			}

			&:after{
				content:"";
				display:block;

				@include size(11, 6);
				position:absolute;
				top:50%;
				left:18px;
				margin:-3px 0 0 0;

				background:url(../images/spr_bg_view_others.png) no-repeat;
			}

			&.prev{
				border-top:1px solid #ddd;
			}

			&.next{
				&:after{
					background-position:0 -50px;
				}
			}
		}
	}
}

/* reservation */
.reservation{
	margin:60px 0 0 0;
	@include clear();

	&-title{
		padding:0 0 7px 0;
		@include font($font-stack, 30px, #432e66);
		border-bottom:1px solid #c1b7d6;
	}

	&-sub-title{
		padding:7px 0 0 0;
		@include font($font-stack, 20px, #432e66);
	}

	&-time{
		@include size(258, 491);
		float:right;
		margin:100px 0 0 0;
		border:1px solid #ddd;

		.time{
			height:362px;
			padding:20px 25px;
			overflow:auto;

			.time-c{
				margin:0 25px;
				float:left;

				.ampm{
					@include font($font-stack, 20px, #432e66);
					margin:0 0 25px 0;
				}

				.time-schedule{
					@include font($font-stack, 15px, #aca0c7);

					li{
						padding:0 0 20px 0;
					}
				}
			}


			&-heading{
				height:58px;
				padding:15px 30px;
				text-align:center;
				background:#f2f2f2;
				border-bottom:1px solid #ddd;
			}

			&-title{
				@include font($font-stack, 24px, #432e66);
			}

			&-gap{
				@include font($font-stack, 16px, #432e66);
			}
		}
	}
}

.calendar{
	width:798px;
	padding:40px 0 0 0;
	float:left;
}

.month{
	text-align:center;
	margin:0 0 30px 0;

	&-current{
		display:inline-block;
		@include size(auto, 30);
		padding:0 45px;
		@include font($font-stack, 25px, #7d7d7d);
	}

	.month-arrow{
		display:inline-block;
		@include size(13, 30);
		font-size:25px;
		text-indent:-99999em;
		background:url(../images/spr_bg_month_arrow.png) no-repeat 0 center;

		&.next{
			background-position:-17px center;
		}
	}
}
