// element width, height
@mixin size($width: auto, $height: $width) {
	@if (type_of($width) == 'number') and (unit($width) == '') {
		$width: $width + px;
	}
	@if (type_of($height) == 'number') and (unit($height) == '') {
		$height: $height + px;
	}
	@if ($width == 'auto') {
		height: $height;
	} @else if ($height == 'auto') {
		width: $width;
	} @else {
		width: $width;
		height: $height;
	}
}

@mixin font($family, $size, $color){
	font-family:$family;
	font-size:$size;
	color:$color;
}

@mixin gnb-sub-layout(){

}

// btn style
@mixin btn( $width, $height, $line-height, $border, $color, $background, $border-radius) {

	@include size($width, $height);

	line-height: $line-height - 5px;
	color:$color;
	background:$background;
	border:$border;
	border-radius:$border-radius;
	font-weight:bold;
	text-align:center;
	box-sizing: border-box;
	cursor:pointer;
}

// set position horizontal center
@mixin center() {
	//display:block;
	margin:0 auto;
}

// inline block
@mixin inline-block(){
	display:inline-block;
}

// clear float
@mixin clear() {
	&:after {
		content:".";
		display:block;
		height:0;
		overflow:hidden;
		clear:both;
	}
}