// color
$black:#000;
$white:#fff;
$dark-gray:#333;
$mid-gray:#767676;
$light-gray:#c6c6c6;

$white-gray:#f1f1f1;

$main-red:#ed2a25;

// font
$font-stack:'Helvetica', 'sans-serif';
$font-size-base:12px;
